/* styles.css */

body {
    
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    width: 300px;
    margin-left: 550px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #6ecae1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="submit"]:hover {
    background-color: #87CEEB;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
