<!DOCTYPE html>
<html>
<head>
    <title>Available Exams</title>
</head>
<body>
    <h2>Available Exams</h2>
    <table border="1">
        <tr>
            <th>Exam Name</th>
            <th>Registration starts</th>
            <th>Registration ends</th>
            <th>Exam Date</th>
            <th>Action</th>
        </tr>
        {% for exam in exams %}
        <tr>
            <td>{{ exam[1] }}</td>
            <td>{{ exam[2] }}</td>
            <td>{{ exam[3] }}</td>
            <td>{{ exam[4] }}</td>

            <td>
                <form action="{{ url_for('enter_details') }}" method="post">
                    <input type="hidden" name="exam_id" value="{{ exam[0] }}">
                    <button type="submit">Register</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('student_dashboard') }}">Back to Dashboard</a>
</body>
</html>
